<% content_for :head do %>
	<title>BFF::Change Password</title>
<% end %>

<% content_for :page_title do %>
	Change Password
<% end %>

<%= content_for :content do %>
	<%= error_messages_for 'user' %>
	
	<%= start_form_tag :action => 'change_password' %>
	
	<label for="user_password">Choose password:</label><br/>
	<%= password_field "user", "password", :size => 20, :value=>"" %><br/>
	
	<label for="user_password_confirmation">Confirm password:</label><br/>
	<%= password_field "user", "password_confirmation", :size => 20, :value=>"" %><br/>
	
	<%= submit_tag "Submit" %>
	
	<%= end_form_tag %>
<% end %>
