<% content_for :head do %>
	<title>BFF::Home</title>
<% end %>

<%= content_for :page_title do %>
		Editing: <%= @curr.login%>
<% end %>

<% content_for :content do%>

		<%= form_tag( {:action => 'update', :controller => 'users'}, {:method => 'put', :style => "display:inline;"} ) do%>
			
			<label for='user_email'>Email</label><br/>
			<%= text_field 'user', 'email',  :size => 20 %><br/>
			
			<%= submit_tag 'Save' %>
		<% end %>


<% end %>
