<% content_for :head do %>
	<title>BFF::Home</title>
<% end %>

<%= content_for :page_title do %>
	<% if isAdmin? or @curr == @user %>
		Editing: <%= @curr.login%>
	<% else %>
		Invalid
	<% end %>
<% end %>

<% content_for :content do%>

	<% if isAdmin? or @curr == @user %>
		<%= form_tag( {:action => 'update', :controller => 'users'}, {:method => 'put', :style => "display:inline;"} ) do%>
			
			<label for='user_email'>Email</label><br/>
			<%= text_field 'user', 'email',  :size => 20 %><br/>
			
			<label for='user_email_confirmation'>Email Confirmation</label><br/>
			<%= text_field 'user', 'email_confirmation', :size => 20 %><br/>
			
			<% if isAdmin? %>
				Admin: <%= check_box "admin", "set_admin", :checked => @curr.admin %>
				<br />
			<% end %>
			
			Delete: <%= check_box "destroy", "destroy" %>
			<br />
	
			<%= submit_tag 'Save' %>
		<% end %>
	<% else %>
	Please do not attempt to edit other users.  You can edit yourself by going to this link:
	<%= link_to 'Edit', edit_user_path(@user) %>
	<% end %>

<% end %>
