<% content_for :head do %>
	<title>BFF::Forgot Password</title>
	<%= javascript_include_tag :Validation_Email %>
<% end %>

<% content_for :page_title do %>
	Forgot Password
<% end %>

<% content_for :content do %>
	<% if notice != nil %>
		<p><font color="red"><%= notice %></font></p>
	<% end %>
	<br />
	
	<%= form_tag({:action => 'forgot_password', :controller => "users"}, {:id => "form"}) do%>
		<table>
			<tr><th></th><th></th></tr>
			
			<tr>
				<td><label for="user_email">Enter Your Email</label></td>
				<td align="center"><%= text_field "user","email" %></td>
			</tr>
			
			<tr><th></th><th></th></tr>
		</table>
	
		<%= submit_tag 'Email Me', :id => 'submit' %>
	<% end %>
<% end %>
