<% content_for :head do %>
	<title>BFF::Home</title>
<% end %>

<% content_for :page_title do %>
	<% if isAdmin?%>
		Users
	<% else %>
		Invalid
	<% end %>
<% end %>

<% content_for :content do %>

	<% if not isAdmin? %>
		There is nothing here for you.  If you belive you are viewing this page in error please contact the support team.<br />
		Please go to your profile at this link: <%= link_to "Profile", user_path(current_user) %>.
	<% else %>
		<table>
	  		<tr>
				<th>Username</th>
				<th>Email</th>
		    	<th>Admin</th>
		    	<th>ID</th>
		    	<th></th>
		    	<th></th>
		    	<!--<th></th>-->
	  		</tr>
			
			<% @users.each do |usr| %>
				<tr>
				    <td><%= usr.login %></td>
				    <td><%= usr.email %></td>
				    <td><%= usr.admin %></td>
				    <td><%= usr.id%></td>
				    <td><%= link_to 'Profile', user_path(usr) %></td>
				    <td><%= link_to 'Edit', edit_user_path(usr) %></td>
			    </tr>
			<% end %>
		</table>
		<br />
	<% end %>


<% end %>
