<% content_for :head do %>
	<title>BFF::Users</title>
<% end %>

<% content_for :page_title do %>
	Users
<% end %>

<% content_for :content do %>
	<% if notice != nil %>
		<font color="red"><%= notice %></font>
	<% end %>

	<table>
  		<tr class="heading">
			<th>Username</th>
			<th>Email</th>
	    	<th>Admin</th>
	    	<th>ID</th>
	    	<th></th>
	    	<th></th>
  		</tr>
		
		<% @users.each do |usr| %>
			<tr>
			    <td align="center"><%= usr.login %></td>
			    <td align="center"><%= usr.email %></td>
			    <td align="center"><%= usr.admin %></td>
			    <td align="center"><%= usr.id%></td>
			    <td align="center"><%= link_to 'Profile', user_path(usr) %></td>
			    <td align="center"><%= link_to 'Edit', edit_user_path(usr) %></td>
		    </tr>
		<% end %>
		
		<tr><th></th><th></th><th></th><th></th><th></th><th></th></tr>
	</table>
<% end %>
