<% content_for :head do %>
	<title>BFF::Users</title>
<% end %>

<% content_for :page_title do %>
	Users
<% end %>

<% content_for :content do %>
	<table>
  		<tr>
			<th>Username</th>
			<th>Email</th>
	    	<th>Admin</th>
	    	<th>ID</th>
	    	<th></th>
	    	<th></th>
  		</tr>
		
		<% @users.each do |usr| %>
			<tr>
			    <td><%= usr.login %></td>
			    <td><%= usr.email %></td>
			    <td><%= usr.admin %></td>
			    <td><%= usr.id%></td>
			    <td><%= link_to 'Profile', user_path(usr) %></td>
			    <td><%= link_to 'Edit', edit_user_path(usr) %></td>
		    </tr>
		<% end %>
	</table>
<% end %>
