<% content_for :content do %>
	<h1>Listing users</h1>
	
	<table>
	<%= if User.find(session[:user]) != nil do %>
	  <tr>
		<th><% User.find(session[:user]).login %></th>
		<th><% User.find(session[:user]).email %></th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>
	<% end %>
	
	  <% @users.each do |usr| %>
	    <%= usr.login %>
	    <%= usr.email %>
	    <%= link_to 'Show', usr %>
	    <%= link_to 'Edit', edit_user_path(usr) %>
	    <%= link_to 'Destroy', usr, confirm: 'Are you sure?', method: :delete %>
	  <% end %>
	
	</table>
	
	<br />
	
	<%= link_to 'Show', session[:user] %>
<% end %>
