<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @users.each do |usr| %>
   <tr>
    <td><%= usr.login %></td>
    <td><%= usr.email %></td>
    <td><%= link_to 'Show', usr %></td>
    <td><%= link_to 'Edit', edit_user_path(usr) %></td>
    <td><%= link_to 'Destroy', usr, confirm: 'Are you sure?', method: :delete %></td>
   </tr>
  <% end %>

</table>

<br />

<%= link_to 'Register', 'users/register' %> <%= link_to 'Login', login_users_path %> <%= link_to 'Logout', logout_users_path %>
