<% content_for :head do %>
	<title>TAB::Home</title>
	<%= javascript_include_tag :home %>
<% end %>

<% content_for :header do %>
	<a href="index.html"><img id="" src="" alt="" /></a>
	<%= render "layouts/login" %>
<% end %>


<% content_for :content do %>
<% @user = User.find(session[:user])%>
	<table>
	<tr>
		<th align="left">User name:</th>
		<td align="left"> <%= @curr.login %> </td>
	</tr>
	<tr>
		<th align="left"> Email:</th>
		<td align="left"> <%= @curr.email %> </td>
	</tr>
	<tr>
		<th align="left"> <%= link_to 'Edit', edit_user_path(@curr) %></th>
	</tr>
	</table>
	<% if isAdmin? %>
		<table>
		<tr>
	
			<th align="left">Admin Status:</th>
			<td align="left"> <%= @curr.admin %> </td>
		</tr>
		</table>
	<% end %>
	



	
	<% if isAdmin? %>
	<h1>Listing users</h1>
	  <% @users.each do |usr| %>
	    <%= usr.login %>
	    <%= usr.email %>
	    <%= link_to 'Show', usr %>
	    <%= link_to 'Edit', edit_user_path(usr) %>
	    <%= link_to 'Destroy', usr, confirm: 'Are you sure?', method: :delete %>
	  <% end %>
	<% end %>
	
	</table>
<% end %>
