<h1>Listing fi_nos</h1>

<table>
  <tr>
    <th>Noteid</th>
    <th>Fingeringidlist</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fi_nos.each do |fi_no| %>
  <tr>
    <td><%= fi_no.noteID %></td>
    <td><%= fi_no.fingeringIDList %></td>
    <td><%= link_to 'Show', fi_no %></td>
    <td><%= link_to 'Edit', edit_fi_no_path(fi_no) %></td>
    <td><%= link_to 'Destroy', fi_no, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fi no', new_fi_no_path %>
