<p id="notice"><%= notice %></p>

<p>
  <b>Noteid:</b>
  <%= @fi_no.noteID %>
</p>

<p>
  <b>Fingeringidlist:</b>
  <%= @fi_no.fingeringIDList %>
</p>


<%= link_to 'Edit', edit_fi_no_path(@fi_no) %> |
<%= link_to 'Back', fi_nos_path %>
