<p id="notice"><%= notice %></p>

<p>
  <b>Note:</b>
  <%= @note.note %>
</p>

<p>
  <b>Tone:</b>
  <%= @note.tone %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
