<% content_for :head do %>
	<title>BFF::Edit Fingering ID #<%= @fingering.id %></title>
	<%= javascript_include_tag :Fingerings %>
	<%= javascript_include_tag :Validation_Fingering %>
	<%= javascript_include_tag :Tabs %>
	<%= javascript_include_tag :Dictionary %>
	<script>
		var fingering_id = "<%= @fingering_status %>";
		var note_tone_id = "<%= @note_tone %>";
	</script>
<% end %>

<% content_for :page_title do %>
	Edit Fingering ID #<%= @fingering.id %>
<% end %>

<% content_for :page_subtitle do %>
	Entered on: <%= l @fingering.created_at, :format => :long %> by <%= @fingering.user_name %>
<% end %>

<% content_for :content do %>
	<div id="tabs">
		<ul class="tabs">
			<li><a href="#tabs-1" class=""><span>Show Fingering</span></a></li>
			<li><a href="#tabs-2" class=""><span>Show Help</span></a></li>
		</ul>
		
		<div id="tabs-1" class="panes">
			<canvas id="edit_fingering" width="500" height="600">
		    	<p>Unfortunately, your browser is currently unsupported by our web 
		        	application. We are sorry for the inconvenience. Please use one of the 
		        	supported browsers listed below. </p>
		        <p>Supported browsers: 
		        	<a href="www.mozilla.com">Firefox</a> <br />
		        	<a href="www.google.com/chrome">Chrome</a> </p>
			</canvas>
		
			
			<br /><br />
			<%= form_tag({:action => 'update', :controller => "fingerings"}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
				<%= hidden_field "fingering", "fingering_status" %>
				<%= hidden_field "fingering", "note_tone" %>
				<%= hidden_field "fingering", "octave" %>
				<%= hidden_field "fingering", "note_name" %>
				<%= hidden_field "fingering", "accidental" %>
				
				<table>
					<tr class="heading"><th></th><th></th></tr>
					
					<% if current_user.isAdmin %>
					<tr>
						<td><label for="admin_order">Admin Order</label></td>
						<td style="text-align:left">
						<select id="admin_order_dropdown" name="fingering[admin_order]">
						<% for i in 1..count_fingerings(@fingering.note_tone) do %>
							<% if (i == @fingering.admin_order) %>
								<option value="<%= i %>" selected><%= i %></option> 
							<% else %>
								<option value="<%= i %>"><%= i %></option>
							<% end %>
						<% end %>
						</select>
						</td>
						<script type="text/javascript">
						// create dictionary with all existing numbers in database and dynamically update number dropdown on click
						var dictCount = new Dict();
						var existing_notes = dictCount.New();
						var selectedTone = "<%= @fingering.note_tone %>";
						var selectedNum = <%= @fingering.admin_order %>;
						var changedTone = "none";
						<% Fingering.select("DISTINCT(note_tone)").each do |f| %>
						existing_notes.addOrUpdate("<%= f.note_tone %>", "<%= count_fingerings(f.note_tone) %>");
						<% end %>
							$(document).ready(function() {
								$('canvas').click(function() {
									$tone = fingerings_canvas.ToString('note_tones');
									if(existing_notes.exists($tone))
										$number = parseInt(existing_notes.item($tone));
									else
										$number = 1;
									
									if($tone == selectedTone) {
										$markNum = selectedNum;							
										$number = existing_notes.item($tone);		
									}
									else {
										if(existing_notes.exists($tone)) {
											$number = parseInt(existing_notes.item($tone));
											$markNum = parseInt($number) + 1;							
										} else {							
											$number = 1;
											$markNum = 1;
										}
										$number = $markNum;									
									}
									if(changedTone != $tone && $tone != selectedTone) { // if fingering tone was changed
										$('#admin_order_dropdown').text('');
										for($i = 1; $i <= parseInt($number); $i++) {
											if($i == $markNum)
												$selectedString = "selected";
											else
												$selectedString = "";
											$('#admin_order_dropdown').append('<option value="'+ $i +'" ' + $selectedString + '>'+ $i +'</option>');
										}
									} else if(changedTone != $tone && $tone == selectedTone) {
										$('#admin_order_dropdown').text('');
										for($i = 1; $i <= parseInt($number); $i++) {
											if($i == $markNum)
												$selectedString = "selected";
											else
												$selectedString = "";
											$('#admin_order_dropdown').append('<option value="'+ $i +'" ' + $selectedString + '>'+ $i +'</option>');
										}
									}
									changedTone = $tone;
								});
							});
						</script>
					</tr>

					<tr>
						<td><label for="fingering_type">Fingering Type</label></td>
						<td style="text-align:left"><%= select 'fingering', 'keytype', [['Standard', 'standard'], ['Alternate', 'alternate']]%></td>
					</tr>
					<% end %>
					
					<tr>
						<td><label for="fingering_source">Fingering Source</label></td>
						<td style="text-align:left"><%= text_field 'fingering', 'source' %></td>
					</tr>
					
					<tr>
						<td ><label for="fingering_comments">Fingering Comment</label></td>
						<td style="text-align:left"><%= text_area 'fingering', 'comments', :size => "33x5" %></td>
					</tr>
				</table>
				
				<%= submit_tag "Save", :id => "submit", :onclick => "fingering_fingering_status.value = fingerings_canvas.ToString(\"keys\"); fingering_note_tone.value = fingerings_canvas.ToString(\"note_tones\"); fingering_octave.value = fingerings_canvas.ToString(\"note_tones\")[3]; fingering_note_name.value = fingerings_canvas.ToString(\"note_tones\")[2]; var acc = fingerings_canvas.ToString(\"note_tones\").split('_')[1]; acc = acc.split(',')[0];
				if(acc == 'flat') {fingering_accidental.value = 1;} else if(acc == 'natural') {fingering_accidental.value = 2;} else {fingering_accidental.value = 3;} console.log(fingering_accidental.value);"  %>
			<% end %>
			
			<%= form_tag({:action => "show", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
				<%= submit_tag "Cancel", :id => "submit" %>
			<% end %>			
		</div>

		<div id="tabs-2"  class="panes">
			<%= render "help" %>
		</div>
	</div>
<% end %>
