<% content_for :head do %>
	<title>BFF::Edit Fingering ID #<%= @fingering.id %></title>
	<%= javascript_include_tag :Fingerings %>
	<script>
		var fingering_id = "<%= @fingering_status %>";
		var note_tone_id = "<%= @note_tone %>";
	</script>
<% end %>

<% content_for :page_title do %>
	Edit Fingering ID #<%= @fingering.id %>
<% end %>

<% content_for :content do %>
	<canvas id="edit_fingering" width="500" height="600">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<br />
	
	<%= form_tag({:action => "update", :controller => "fingerings"}, {:method => :put, :style => "display:inline;"}) do %>
		<%= hidden_field "fingering", "fingering_status" %>
		<%= hidden_field "fingering", "note_tone" %>
		
		<% if isAdmin? %>
			Approve Entry: <%= check_box "fingering", "approved" %>
		<% end %>
		<br />
		
		<%= submit_tag "Save", :onclick => "fingering_fingering_status.value = fingerings_canvas.ToString(\"keys\"); fingering_note_tone.value = fingerings_canvas.ToString(\"note_tones\");" %>
	<% end %>
	<%= button_to 'Cancel', @fingering, :method => :get %>
<% end %>
