<% content_for :head do %>
	<title>BFF::Edit Fingering ID #<%= @fingering.id %></title>
	<%= javascript_include_tag :application, :fingerings %>
	<script>
		var fingering_id = "<%= @fingering_status %>";
		var note_tone_id = "<%= @note_tone %>";
	</script>
<% end %>

<% content_for :header do %>
	<a href="index.html"><img id="" src="" alt="" /></a>
	<%= render "layouts/login" %>
<% end %>

<%= content_for :headline do %>
	<div id="headline">
		<span class="main">Edit Fingering ID #<%= @fingering.id %></span>
	</div>
<% end %>

<% content_for :content do %>
	<canvas id="edit_fingering" width="500" height="600">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<br />
	<%= button_to 'Cancel', @fingering, :method => :get %>
	<%= button_to 'Save', @fingering, :action => :update, :method => :put %>
<% end %>



