<% content_for :head do %>
	<title>BFF::Fingerings</title>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "stupidtable.min.js" %>
<% end %>

<% content_for :page_title do %>
	Fingerings
<% end %>

<% content_for :content do %>
	<% if notice != nil %>
		<p><font color="red"><%= notice %></font></p>
	<% end %>
	
	<table id="allfingerings">
		<thead>
			<tr class="heading">
				<th>ID</th>
				<th>Note(s)</th>
				<th>Upvotes(B|I|A|P)</th>
				<th>Downvotes(B|I|A|P)</th>
				<th data-sort="string">User</th>
				<th>Date/Time</th>
			</tr>
		</thead>
		<% 	postNotice = 0 %>
		<% @fingerings.each do |fingering| %> 
			<tr class="<% if(!fingering.approved && current_user.isAdmin) %>unapproved<%  postNotice = 1 end %> child">
			    <td><%= fingering.id %></td>
			    <td><%= link_to fingering.pretty_notes, fingering %></td>
			    <td align="center"><%= fingering.votes_beginner %> | <%= fingering.votes_intermediate %> | <%= fingering.votes_advanced %> | <%= fingering.votes_professional %></td>
				<td align="center"><%= fingering.dvotes_beginner %> | <%= fingering.dvotes_intermediate %> | <%= fingering.dvotes_advanced %> | <%= fingering.dvotes_professional %></td>
		    	<% if current_user.isAdmin or (current_user.login == fingering.user_name) %>
		    		<td align="center"><%= link_to fingering.user_name, User.find(:first, :conditions => { :login => fingering.user_name }) %></td>
		    	<% else %>
	    			<td align="center"><%= fingering.user_name %></td>
		    	<% end %>
			    <td align="center"><%= l fingering.created_at, :format => :long %></td>
			</tr>
		<% end %>
		</tr>
		<% if(postNotice == 1) %> 
		   <script type="text/javascript">
		     $('span.subtitle').append("<span style='color:red;font-size:120%;'>There are fingerings which need approval (marked by red bars)</span>");
		   </script>
		<% end %>
	</table>
	
<!--
			$('tbody tr').each(function() {
				$thisString = $(this).children('td:nth-child(2)').children('a').html();
				$origString = $thisString;
				$thisString = ntoNat($thisString.substr(0,1)) + $thisString.substr(1,2);
				if($('.type-' + $thisString).length < 1) { // create a parent
					if($('.parent').length < 1) {
						$('<tr id="parent-' + $thisString + '" str="'+ $thisString +'" class="parent"><td colspan="6">' + $origString + '</td></tr>').insertBefore('tr.child:first-of-type');						
					} else {
						$('<tr id="parent-' +$thisString + '" str="'+ $thisString +'" class="parent"><td colspan="6">' + $origString + '</td></tr>').insertAfter(this);
					}
				}
				$(this).addClass('type-' + $thisString);
				$(this).attr('str', $thisString);
				$(this).attr('id', 'child-' + $thisString);
			});
			$('tr.parent').each(function() {
				if($('.type-' + $(this).attr('str')).hasClass('unapproved'))
					$(this).addClass('unapproved');
			});
			moveChildren = function() {
				$str = $(this).attr('str');
				if($('.child.type-' + $str + '.moved').length < 1) {
					$(this).insertAfter('#parent-' + $str);
				} else {
					$(this).insertAfter('.child.type-' + $str + '.moved:last-of-type');
				}
				$(this).addClass('moved');
			}
			$('tr.parent').click(function() {
				if(!$(this).hasClass('visible')) {
					$('tr').removeClass('visible'); // only display one at a time
					$('.type-' + $(this).attr('str')).addClass('visible');
					$(this).addClass('visible');					
				} else {
					$(this).removeClass('visible');
					$('.type-' + $(this).attr('str')).removeClass('visible');
				}
			});
			$(window).load(function() {
				$('.child').each(moveChildren);
			});
		});
		
	</script> -->
	
	<%= form_tag({:action => "new", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "New", :id => "submit" %>
	<% end %>
	
	<%= form_tag({:action => "search", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Search", :id => "submit" %>
	<% end %>
<% end %>
