<% content_for :head do %>
	<title>BFF::Fingerings</title>
	<%= javascript_include_tag "application" %>
<% end %>

<% content_for :page_title do %>
	Fingerings
<% end %>

<% content_for :content do %>
	<% if notice != nil %>
		<p><font color="red"><%= notice %></font></p>
	<% end %>
	
	<div class="table">
	  <div class="row header">
	    <div class="column notes">Note(s)</div>
	    <div class="column">ID</div>
	    <div class="column vote">Upvotes(B|I|A|P)</div>
	    <div class="column vote">Downvotes(B|I|A|P)</div>
	    <div class="column user">User</div>
	    <div class="column">Date/Time</div>
	  </div>
	  <% 	postNotice = 0
		currString = ''
		first = 0
		firstStandard = 1
		firstAlternate = 0
	  %>
	  <% @fingerings.each do |fingering|
	     thisString = fingering.pretty_notes
	     if(thisString.include?("to")) # if this fingering is a trill,
	     isTrill = 1 # mark it as such
	     if(thisString[2] == " ") # save the first 2 characters if natural
	     thisString = thisString[0..1]
	     else
	     thisString = thisString[0..2] # save the first 3 characters if not
	     end
	     else
	     isTrill = 0
	     end
	     if((thisString != currString && fingering.accidental != 2) || (thisString != currString && fingering.accidental == 2)) 
	     if(first != 0) %>
	</div></div>
	<% 
	   firstStandard = 1
	   firstAlternate = 0
	   isTrill = 0
	   end %>
	<div class="parent row <% if(!fingering.approved && current_user.isAdmin) %>unapproved<% end %>"><div class="wrapper"><div class="column notes"><%= fingering.pretty_notes %></div><div class="column master-count"><%= link_to "",  { :controller => :fingerings, :action => :search_results, :params => {:fingering => {:keytype => "standard/alternate", :note_tone => fingering.note_tone}}} %></div></div>
	  <% if(firstStandard == 1 && fingering.keytype == "standard") %>
	  <div class="row child keytype tab"><div class="column tab">Standard</div><div class="column count"><%= link_to "",  \
{ :controller => :fingerings, :action => :search_results, :params => {:fingering => {:keytype => "standard", :note_tone => fingering.note_tone}}} %></div>
	  <% firstStandard = 0
	     end

	     currString = fingering.pretty_notes
	     if(currString.include?("to"))
	     isTrill = 1
	     if(currString[2] == " ")
	     currString = currString[0..1]
	     else
	     currString = currString[0..2]
	     end
	     else
	     isTrill = 0
	     end
	     first = 1
	     end
	     if(firstAlternate == 0 && fingering.keytype == "alternate")
	  if(firstStandard != 1) %>
	  </div>
	  <% end %>
	  <div class="row child keytype tab"><div class="column tab">Alternate</div><div class="column count"><%= link_to "",  \
{ :controller => :fingerings, :action => :search_results, :params => {:fingering => {:keytype => "alternate", :note_tone => fingering.note_tone}}} %></div>
	     <% firstAlternate = 1
		end %>
	<div class="row <% if(!fingering.approved && current_user.isAdmin) %>unapproved<%  postNotice = 1 end %> child fingering <% if(isTrill == 1) %><%= "trill"%><% end %>">
	  <div class="column notes"><% if(isTrill == 1) %><%= "to "%><%= fingering.pretty_notes.split('to')[1]%><% end %>&nbsp;</div>
	  <div class="column"><%= link_to fingering.id, fingering %></div>
	  <div class="column vote" align="center"><%= fingering.votes_beginner %> | <%= fingering.votes_intermediate %> | <%= fingering.votes_advanced %> | <%= fingering.votes_professional %></div>
	  <div class="column vote" align="center"><%= fingering.dvotes_beginner %> | <%= fingering.dvotes_intermediate %> | <%= fingering.dvotes_advanced %> | <%= fingering.dvotes_professional %></div>
	  <% if current_user.isAdmin or (current_user.login == fingering.user_name) %>
	  <div class="column user" align="center"><%= link_to fingering.user_name, User.find(:first, :conditions => { :login => fingering.user_name }) %></div>
	  <% else %>
	  <div class="column user" align="center"><%= fingering.user_name %></div>
	  <% end %>
	  <div class="column" align="center"><%= l fingering.created_at, :format => :long %></div>
	</div>
	<% end %>
	</div>
	<script type="text/javascript">
	<% if(postNotice == 1) %> 
	  $('span.subtitle').append("<span style='color:red;font-size:120%;'>There are fingerings which need approval (marked by red bars)</span>");
	<% end %>
	function colorRows() {
	  $('.row').each(function() {
	   if($(this).find('*').hasClass('unapproved'))
	    $(this).addClass('unapproved');
	  });					
	}

	$(document).ready(function() {
	   function moveTrills() {
	    $('.trill').each(function() {
	     if($(this).parent().siblings('.keytype.trill').length == 0) {
	      $(this).parent().parent().append('<div class="row child keytype tab trill"><div class="column tab">Trill</div><div class="column count"></div></div>');
	     }
	      $(this).appendTo($(this).parent().siblings('.keytype.trill'));
	    });}
	  function countFingerings() {
	   colorRows();
	   $('.parent').each(function() {
	    $size = $(this).find('.fingering').length;
	    if($size > 1)
	     $(this).find('div.master-count a').append($size + " fingerings");
	    else
	     $(this).find('div.master-count a').append($size + " fingering");
	   });
	   $('.keytype').each(function() {
	     $size = $(this).find('.fingering').length;
	     if($size > 1) {
	      if(!$(this).hasClass('trill')) {
	       $(this).find('div.count a').append($size + " fingerings");
	      } else {
	       $(this).find('div.count').append($size + " fingerings");
	      }
	     } else {
	      if(!$(this).hasClass('trill')) {
    	       $(this).find('div.count a').append($size + " fingering");
	      } else {
	       $(this).find('div.count').append($size + " fingering");
	      }
	     }
	   });
	  $('div.row.parent > div.wrapper').click(function() {
	   if($(this).parent().hasClass('selected')) {
	    $(this).parent().removeClass('selected');
	    $(this).parent().children().removeClass('selected');
	   } else {
	    $('div.row.parent').removeClass('selected'); /* This line closes all other open parents when a closed parent is clicked, comment out line to change this behavior and allow for multiple note types open at a time*/
	    $('div.row.parent div').removeClass('selected');
	    $(this).parent().addClass('selected');
	   }
	  });
	  $('div.row.keytype').click(function(e) {
	  e.stopPropagation();
	  if($(this).hasClass('selected')) {
	  $(this).removeClass('selected');
	  } else {
	  $(this).addClass('selected');
	  }	  
	  });
	  $('div.column a').click(function(e) {e.stopPropagation();});
	  $('.keytype').each(function() {
	   if($(this).children('.row').length < 1)
	    $(this).remove();
	  });
	 }
	$.when(moveTrills()).then(countFingerings());
	  });
	</script>
</div></div>	
	
	<%= form_tag({:action => "new", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "New", :id => "submit" %>
	<% end %>
	
	<%= form_tag({:action => "search", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Search", :id => "submit" %>
	<% end %>
<% end %>
