<% content_for :head do %>
	<title>BFF::Fingerings</title>
<% end %>

<% content_for :page_title do %>
	Fingerings
<% end %>

<% content_for :content do %>
	<table>
		<tr>
			<th>Note(s)</th>
			<th>Votes(B|I|A|P)</th>
			<th>User</th>
			<th>Date/Time</th>
			<th>Approved</th>
		</tr>

		<% @fingerings.each do |fingering| %>
			<tr>
			    <td><%= link_to fingering.pretty_notes, fingering %></td>
			    <td align="center"><%= fingering.votes_beginner %> | <%= fingering.votes_intermediate %> | <%= fingering.votes_advanced %> | <%= fingering.votes_professional %></td>
		    	<% if current_user.isAdmin or (current_user.login == fingering.user_name) %>
		    		<td align="center"><%= link_to fingering.user_name, User.find(:first, :conditions => { :login => fingering.user_name }) %></td>
		    	<% else %>
	    			<td align="center"><%= fingering.user_name %></td>
		    	<% end %>
			    <td align="center"><%= fingering.created_at %></td>
			    <td align="center"><%= fingering.approved %></td>
			</tr>
		<% end %>
		
		<tr><th></th><th></th><th></th><th></th><th></th></tr>
	</table>
	
	<%= form_tag({:action => "new", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "New", :id => "submit" %>
	<% end %>
	
	<%= form_tag({:action => "search", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Search", :id => "submit" %>
	<% end %>
<% end %>
