<% content_for :content do %>
	<h1>Listing fingerings</h1>
	
	<% @fingerings.each do |fingering| %>
	    <%= fingering.note_tone %>
	    <%= fingering.fingering_status %>
	    <%= fingering.user_id %>
	    <%= fingering.created_at %>
	    <%= fingering.approved %>
	    <%= link_to 'Show', fingering %>
	    <%= link_to 'Edit', edit_fingering_path(fingering) %>
	    <%= link_to 'Destroy', fingering, confirm: 'Are you sure?', method: :delete %>
	  <br />
	<% end %>
	
	<br />
	
	<%= link_to 'New Fingering', new_fingering_path %>
<% end %>
