<% content_for :head do %>
	<title>BFF::Fingerings</title>
<% end %>

<% content_for :page_title do %>
	Fingerings
<% end %>

<% content_for :content do %>
	<table>
		<tr>
			<th>Note</th>
			<th>Key Status</th>
			<th>Votes(B|I|A|P)</th>
			<th>User</th>
			<th>Date/Time</th>
			<th>Approved</th>
		</tr>

		<% @fingerings.each do |fingering| %>
			<tr>
			    <td><%= fingering.note_tone %></td>
			    <td><%= link_to fingering.fingering_status, fingering %></td>
			    <td><%= fingering.votes_beginner %> | <%= fingering.votes_intermediate %> | 
			    	<%= fingering.votes_advanced %> | <%= fingering.votes_professional %></td>
			    <td><%= fingering.user_name %></td>
			    <td><%= fingering.created_at %></td>
			    <td><%= fingering.approved %></td>
			</tr>
		<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Fingering', new_fingering_path %>
<% end %>
