<% content_for :head do %>
	<title>BFF::Fingerings</title>
	<%= javascript_include_tag "application" %>
<% end %>

<% content_for :page_title do %>
	Fingerings
<% end %>

<% content_for :content do %>
	<% if notice != nil %>
		<p><font color="red"><%= notice %></font></p>
	<% end %>
	
	<div class="table">
	  <div class="row header">
	    <div class="column notes">Note(s)</div>
	    <div class="column">ID</div>
	    <div class="column vote">Upvotes(B|I|A|P)</div>
	    <div class="column vote">Downvotes(B|I|A|P)</div>
	    <div class="column">User</div>
	    <div class="column">Date/Time</div>
	  </div>
	  <% 	postNotice = 0
		currString = ''
		first = 0
		firstStandard = 1
		firstAlternate = 0
	  %>
	  <% @fingerings.each do |fingering|
	     if(fingering.pretty_notes != currString) 
	     if(first != 0) %>
	</div></div>
	<% 
	   firstStandard = 1
	   firstAlternate = 0
	   end %>
	<div class="parent row <% if(!fingering.approved && current_user.isAdmin) %>unapproved<% end %>"><div class="wrapper"><div class="column notes"><%= fingering.pretty_notes %></div><div class="column master-count"><%= link_to "",  { :controller => :fingerings, :action => :search_results, :params => {:fingering => {:keytype => "standard/alternate", :note_tone => fingering.note_tone}}} %></div></div>
	  <% if(firstStandard == 1) %>
	  <div class="row child keytype tab"><div class="column tab">Standard</div><div class="column count"><%= link_to "",  \
{ :controller => :fingerings, :action => :search_results, :params => {:fingering => {:keytype => "standard", :note_tone => fingering.note_tone}}} %></div>
	  <% firstStandard = 0
	     end

	     currString = fingering.pretty_notes
	     first = 1
	     end
	     if(firstAlternate == 0 && fingering.keytype == "alternate") %>
	  </div><div class="row child keytype tab"><div class="column tab">Alternate</div><div class="column count"><%= link_to "",  \
{ :controller => :fingerings, :action => :search_results, :params => {:fingering => {:keytype => "alternate", :note_tone => fingering.note_tone}}} %></div>
	     <% firstAlternate = 1
		end %>
	<div class="row <% if(!fingering.approved && current_user.isAdmin) %>unapproved<%  postNotice = 1 end %> child fingering">
	  <div class="column notes">&nbsp;</div>
	  <div class="column"><%= link_to fingering.id, fingering %></div>
	  <!--<div class="column"><%= link_to fingering.pretty_notes, fingering %></div>-->
	  <div class="column vote" align="center"><%= fingering.votes_beginner %> | <%= fingering.votes_intermediate %> | <%= fingering.votes_advanced %> | <%= fingering.votes_professional %></div>
	  <div class="column vote" align="center"><%= fingering.dvotes_beginner %> | <%= fingering.dvotes_intermediate %> | <%= fingering.dvotes_advanced %> | <%= fingering.dvotes_professional %></div>
	  <% if current_user.isAdmin or (current_user.login == fingering.user_name) %>
	  <div class="column user" align="center"><%= link_to fingering.user_name, User.find(:first, :conditions => { :login => fingering.user_name }) %></div>
	  <% else %>
	  <div class="column user" align="center"><%= fingering.user_name %></div>
	  <% end %>
	  <div class="column" align="center"><%= l fingering.created_at, :format => :long %></div>
	</div>
	<% end %>
	</div>
	<% if(postNotice == 1) %> 
	<script type="text/javascript">
	  $('span.subtitle').append("<span style='color:red;font-size:120%;'>There are fingerings which need approval (marked by red bars)</span>");
	  $('div.row.parent > div.wrapper').click(function() {
	  if($(this).parent().hasClass('selected')) {
	  $(this).parent().removeClass('selected');
	  $(this).parent().children().removeClass('selected');
	  } else {
	  $('div.row.parent').removeClass('selected'); /* This line closes all other open parents when a closed parent is clicked, comment out line to change this behavior and allow for multiple note types open at a time*/
	  $('div.row.parent div').removeClass('selected');
	  $(this).parent().addClass('selected');
	  }
	  });
	  $('div.row').each(function() {
	  if($(this).children().hasClass('unapproved'))
	  $(this).addClass('unapproved');
	  });
	  $('div.row.keytype').click(function(e) {
	  e.stopPropagation();
	  if($(this).hasClass('selected')) {
	  $(this).removeClass('selected');
	  } else {
	  $(this).addClass('selected');
	  }	  
	  });
	  $('div.column a').click(function(e) {e.stopPropagation();});
	  $(document).ready(function() {
	  $('.parent').each(function() {
	  $size = $(this).find('.fingering').length;
	  if($size > 1)
	  $(this).find('div.master-count a').append($size + " fingerings");
	  else
	  $(this).find('div.master-count a').append($size + " fingering");
	  });
	  $('.keytype').each(function() {
	  $size = $(this).find('.fingering').length;
	  if($size > 1)
	  $(this).find('div.count a').append($size + " fingerings");
	  else
	  $(this).find('div.count a').append($size + " fingering");
	  });
	  });
	</script>
	<% end %>
</div></div>	
	
	<%= form_tag({:action => "new", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "New", :id => "submit" %>
	<% end %>
	
	<%= form_tag({:action => "search", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Search", :id => "submit" %>
	<% end %>
<% end %>
