<% content_for :head do %>
	<title>BFF::Fingerings</title>
	<%= javascript_include_tag "application" %>
<% end %>

<% content_for :page_title do %>
	Fingerings
<% end %>

<% content_for :content do %>
	<% if notice != nil %>
		<p><font color="red"><%= notice %></font></p>
	<% end %>
	
	<table>
		<tr>
			<th>ID</th>
			<th>Note(s)</th>
			<th>Upvotes(B|I|A|P)</th>
			<th>Downvotes(B|I|A|P)</th>
			<th>User</th>
			<th>Date/Time</th>
		</tr>
		<% postNotice = 0 %>
		<% @fingerings.each do |fingering| %>
			<tr class="<% if(!fingering.approved && current_user.isAdmin) %>unapproved<%  postNotice = 1 end %>">
			    <td><%= fingering.id %></td>
			    <td><%= link_to fingering.pretty_notes, fingering %></td>
			    <td align="center"><%= fingering.votes_beginner %> | <%= fingering.votes_intermediate %> | <%= fingering.votes_advanced %> | <%= fingering.votes_professional %></td>
				<td align="center"><%= fingering.dvotes_beginner %> | <%= fingering.dvotes_intermediate %> | <%= fingering.dvotes_advanced %> | <%= fingering.dvotes_professional %></td>
		    	<% if current_user.isAdmin or (current_user.login == fingering.user_name) %>
		    		<td align="center"><%= link_to fingering.user_name, User.find(:first, :conditions => { :login => fingering.user_name }) %></td>
		    	<% else %>
	    			<td align="center"><%= fingering.user_name %></td>
		    	<% end %>
			    <td align="center"><%= fingering.created_at %></td>
			</tr>
		<% end %>
		<% if(postNotice == 1) %> 
		   <script type="text/javascript">
		     $('span.subtitle').append("<span style='color:red;font-size:120%;'>There are fingerings which need approval (marked by red bars)</span>");
		   </script>
		<% end %>
		<tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
	</table>
	
	<%= form_tag({:action => "new", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "New", :id => "submit" %>
	<% end %>
	
	<%= form_tag({:action => "search", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Search", :id => "submit" %>
	<% end %>
<% end %>
