<% content_for :head do %>
	<title>BFF::New Fingering</title>
	<%= javascript_include_tag :Fingerings %>
	<%= javascript_include_tag :Validation_Fingering %>
	<%= javascript_include_tag :Dictionary %>
<% end %>

<% content_for :content do %>
	<div data-role="collapsible-set" data-theme="" data-content-theme="">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Key Fingering</h3>
			<canvas id="new_fingering" width="500" height="600">
		    	<p>Unfortunately, your browser is currently unsupported by our web 
		        	application. We are sorry for the inconvenience. Please use one of the 
		        	supported browsers listed below. </p>
		        <p>Supported browsers: 
		        	<a href="http://www.mozilla.com">Firefox</a> <br />
		        	<a href="www.google.com/chrome">Chrome</a> </p>
			</canvas>
		</div>
		<div data-role="collapsible" data-collapsed="true">
			<h3>Key Information</h3>
			<%= form_tag({:action => 'create', :controller => "fingerings"}, {:method => "post", :style => "display:inline;"}) do %>
				<%= hidden_field "fingering", "fingering_status" %>
				<%= hidden_field "fingering", "note_tone" %>
				
				<table>
					<tr><th></th><th></th></tr>
					<% if current_user.isAdmin %>
					<tr>
						<td><label for="admin_order">Admin Order</label></td>
						<td style="text-align:left">
						<select id="admin_order_dropdown" name="fingering[admin_order]">
						<% for i in 1..count_fingerings("1:f3_natural") + 1 do %>
							<% if (i == count_fingerings("1:f3_natural") + 1) %>
								<option value="<%= i %>" selected><%= i %></option> 
							<% else %>
								<option value="<%= i %>"><%= i %></option>
							<% end %>
						<% end %>
						</select>
						</td>
					</tr>
					<tr>
						<td><label for="fingering_type">Fingering Type</label></td>
						<td align="center"><%= select 'fingering', 'keytype', [['Standard', 'standard'], ['Alternate', 'alternate']] %></td>
					</tr>
					<% end %>
					
					<tr>
						<td><label for="fingering_source">Fingering Source</label></td>
						<td align="center"><%= text_field 'fingering', 'source' %></td>
					</tr>
					
					<tr>
						<td><label for="fingering_comments">Fingering Comment</label></td>
						<td align="center"><%= text_area 'fingering', 'comments', :size => "33x5" %></td>
					</tr>
				</table>

				<% if current_user.isAdmin %>
				<div class="split_fingering">
					<input type="checkbox" name="save_first">Save first (left) note in combination as individual alternate fingering on submission</input>
					<br>
					<input type="checkbox" name="save_second"/>Save second (right) note in combination as individual alternate fingering on submission</input>
					<br>
				</div>
				<script type="text/javascript">
				var dictCount = new Dict();
				var existing_notes = dictCount.New();
				var changedTone = "1:f3_natural";
				<% Fingering.select("DISTINCT(note_tone)").each do |f| %>
				existing_notes.addOrUpdate("<%= f.note_tone %>", "<%= count_fingerings(f.note_tone) %>");
				<% end %>
				
				$(document).ready(function() {
					$('canvas').click(function() {
						if (fingerings_canvas.ToString('note_tones')[0] == '2')
							$('.split_fingering').css('display', 'block');
						else
							$('.split_fingering').css('display', 'none');
								
						// change dropdown
						$tone = fingerings_canvas.ToString('note_tones');
						if(existing_notes.exists($tone)) {
							$number = existing_notes.item($tone);
							$markNum = parseInt($number) + 1;							
						}
						else {							
							$number = 1;
							$markNum = 1;
						}
						
						$number = $markNum;									
							
						if(changedTone != $tone) { // if fingering tone was changed
							$('#admin_order_dropdown').text('');
							for($i = 1; $i <= parseInt($number); $i++) {
								if($i == $markNum)
									$selectedString = "selected";
								else
									$selectedString = "";
								$('#admin_order_dropdown').append('<option value="'+ $i +'" ' + $selectedString + '>'+ $i +'</option>');
							}
						}
						changedTone = $tone;
					});
				});
				</script>
				<% end %>
				
				<%= submit_tag "Submit", :id => "submit", :onclick => "fingering_fingering_status.value = fingerings_canvas.ToString(\"keys\"); fingering_note_tone.value = fingerings_canvas.ToString(\"note_tones\");" %>
			<% end %>
			
			<%= form_tag({:action => "index", :controller => "fingerings"}, {:method => :get, :style => "display:inline;"}) do %>
				<%= submit_tag "Cancel", :id => "submit" %>
			<% end %>			
		</div>
	</div>
	
<% end %>
