<% content_for :head do %>
	<title>BFF::New Fingering</title>
	<%= javascript_include_tag :Fingerings %>
<% end %>

<% content_for :page_title do %>
	Enter a new fingering:
<% end %>

<% content_for :page_subtitle do %>
	This is a work in progess!
<% end %>

<% content_for :content do %>
	<canvas id="new_fingering" width="500" height="600">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="http://www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>

	<br /><br />
	<%= form_tag({:action => 'create', :controller => "fingerings"}, {:method => "post", :id => "form", :style => "display:inline;"}) do %>
		<%= hidden_field "fingering", "fingering_status" %>
		<%= hidden_field "fingering", "note_tone" %>
		
		<table>
			<tr><th></th><th></th></tr>
			
			<tr>
				<td><label for="fingering_type">Fingering Type</label></td>
				
			</tr>
			
			<tr>
				<td><label for="fingering_source">Fingering Source</label></td>
				<td align="center"><%= text_field 'fingering', 'source' %></td>
			</tr>
		</table>
		
		<%= submit_tag "Submit", :id => "submit", :onclick => "fingering_fingering_status.value = fingerings_canvas.ToString(\"keys\"); fingering_note_tone.value = fingerings_canvas.ToString(\"note_tones\");" %>
	<% end %>
	
	<%= form_tag({:action => "index", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Cancel", :id => "submit" %>
	<% end %>
<% end %>
