<% content_for :head do %>
	<title>BFF::Search Fingering</title>
	<% if @fingerings != nil %>
		<%= javascript_include_tag :Fingerings %>
			<script>
				var fingering_id = "<%= @fingerings.first.fingering_status %>";
				var note_tone_id = "<%= @fingerings.first.note_tone %>";
			</script>
	<% end %>
	
<% end %>


<% content_for :page_title do %>
	Search Results: 
<% end %>

<% content_for :page_subtitle do %>
	<% if notice != nil %>
        <font color="red"><%= notice %></font>
	<% elsif  @fingerings != nil %>
		Fingering ID #<%= @fingerings.first.id %>
	<% end %>
<% end %>

<% content_for :content do %>
	<center>
	<% if @fingerings != nil %>
	<canvas id="show_fingering" width="500" height="600">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="http://www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<% end %>
	</center>
	</div>
	<br />
	<% if @fingerings != nil %>
<div class="apple_pagination">
	<%= will_paginate @fingerings, :params => params, :previous_label => "Previous", :next_label => "Next"%> 
  	<% end %>
	<br>
	<%= link_to 'Search More Fingerings', search_fingerings_path %>
	<% if @fingerings == nil %>
		<br>
		<%= link_to 'Add a Fingering', new_fingering_path %>
	<% end %>
</div>
				<% if @fingerings != nil and @fingerings.first != nil %>
				<table class="fingering-info">
				<tr class="heading">
					<th align="left" style="text-align:left;">

					<% if current_user.isAdmin %>
						<% if @fingerings.first.approved %>
							Fingering has been approved.
						<% else %>
							Fingering has not been approved.
						<% end %>
					<% end %>
					</th>
					
					<th></th>
				</tr>
				
				<% if current_user.isAdmin %>
					<tr>
						<td>Keys String</td>
						<td align="center"><%= @fingerings.first.fingering_status %></td>
					</tr>
					
					<tr>
						<td>Notes String</td>
						<td align="center"><%= @fingerings.first.note_tone %></td>
					</tr>
				<% end %>
				
				<tr>
					<td>Fingering Type</td>
					<td align="center"><%= @fingerings.first.keytype.titleize %></td>
				</tr>
				
				<tr>
					<td>Upvotes (Beginner|Intermediate|Advanced|Professional)</td>
					<td align="center"><%= @fingerings.first.votes_beginner %>|<%= @fingerings.first.votes_intermediate %>|<%= @fingerings.first.votes_advanced %>|<%= @fingerings.first.votes_professional %></td>
				</tr>
				
				<tr>
					<td>Downvotes (Beginner|Intermediate|Advanced|Professional)</td>
					<td align="center"><%= @fingerings.first.dvotes_beginner %>|<%= @fingerings.first.dvotes_intermediate %>|<%= @fingerings.first.dvotes_advanced %>|<%= @fingerings.first.dvotes_professional %></td>
				</tr>
				
				<tr>
					<td>Entered by</td>
					<td align="center"><%= @fingerings.first.user_name %></td>
				</tr>
				
				<tr>
					<td>Fingering Source</td>
					<td align="center"><%= @fingerings.first.source %></td>
				</tr>
				
				<tr>
					<td>Fingering Comment</td>
					<td align="center"><%= @fingerings.first.comments %></td>
				</tr>
				
				<tr><th></th><th></th></tr>
			</table>

			<% if current_user.isAdmin %>
				<% if !@fingerings.first.approved %>
					<%= form_tag({:action => "approve", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
						<% if current_user.isAdmin && @fingerings.first.fingering_status[0] == "2" %>
							<div class="split_fingering">
								<input type="checkbox" name="save_first">Save first (left) note in combination as individual alternate fingering on approval</input>
								<br>
								<input type="checkbox" name="save_second"/>Save second (right) note in combination as individual alternate fingering on approval</input>
								<br>
							</div>
						<% end %>

						<%= submit_tag "Approve", :id => "submit" %>
					<% end %>
				<% end %>

				<%= form_tag({:action => "destroy", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :delete, :id => "form", :style => "display:inline;"}) do %>
					<% if @fingerings.first.approved %>
						<%= submit_tag "Unapprove", :id => "submit", :confirm => "This action is permanent and cannot be undone. Are you sure you want to unapprove this fingering and delete it?" %>
					<% else %>
						<%= submit_tag "Disapprove", :id => "submit", :confirm => "This action is permanent and cannot be undone. Are you sure you want to disapprove this fingering and delete it?" %>
					<% end %>
				<% end %>
			<% end %>
		
			<% if cookies[:votes] != nil and cookies[:votes_user] != nil %>
				<% if !cookies[:votes].include?(@fingerings.first.id.to_s()) or !cookies[:votes_user].include?(current_user.login) %>
					<%= form_tag({:action => "like", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
						<%= submit_tag "Like", :id => "submit" %>
					<% end %>
				<% end %>
			
				<% if !cookies[:votes].include?(@fingerings.first.id.to_s()) or !cookies[:votes_user].include?(current_user.login) %>
					<%= form_tag({:action => "dislike", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
						<%= submit_tag "Dislike", :id => "submit" %>
					<% end %>
				<% end %>
			<% else %>
				<%= form_tag({:action => "like", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
					<%= submit_tag "Like", :id => "submit" %>
				<% end %>
			
				<%= form_tag({:action => "dislike", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
					<%= submit_tag "Dislike", :id => "submit" %>
				<% end %>	
			<% end %>
		
			<%= form_tag({:action => "index", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
				<%= submit_tag "Back", :id => "submit" %>
			<% end %>
		
			<% if current_user.isAdmin or current_user.login == @fingerings.first.user_name %>
				<%= form_tag({:action => "edit", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
					<%= submit_tag "Edit", :id => "submit" %>
				<% end %>
			<% end %>
			
			<% if current_user.isAdmin %>
				<%= form_tag({:action => "reset_votes", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
					<%= submit_tag "Reset Votes", :id => "submit", :confirm => "This will reset votes for this fingering. Are you sure you wish to do this?" %>
				<% end %>
			<% end %>	
			
			<% if current_user.isAdmin %>
				<%= form_tag({:action => "destroy", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :delete, :id => "form", :style => "display:inline;"}) do %>
					<%= submit_tag "Delete", :id => "submit", :confirm => "This action is permanent and cannot be undone.  Are you sure you want to delete this fingering?" %>
				<% end %>
			<% end %>				
		</div>
			<% end %>		
		</div>
<% end %>

