<% content_for :head do %>
	<title>BFF::Search Fingering</title>
	<%= javascript_include_tag :application, :fingerings %>
<% end %>

<% content_for :page_title do %>
	Search for a fingering:
<% end %>

<% content_for :page_subtitle do %>
	This is a work in progress!
<% end %>

<% content_for :content do %>
	<canvas id="new_fingering" width="500" height="600">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="http://www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<br />
	<%= form_tag({:action => 'search_results', :controller => "fingerings"}, {:method => "post", :style => "display:inline;"}) do %>
		<%= hidden_field "fingering", "fingering_status" %>
		<%= hidden_field "fingering", "note_tone" %>
		
		<%= submit_tag "Submit", :onclick => "fingering_fingering_status.value = fingerings_canvas.ToString(\"keys\"); 
		fingering_note_tone.value = fingerings_canvas.ToString(\"note_tones\");" %>
	<% end %>
	<%= button_to 'Cancel', fingerings_path, :method => :get%>

<% end %>
