<% content_for :head do %>
	<title>BFF::Search Fingering</title>
	<%= javascript_include_tag :Fingerings %>
<% end %>

<% content_for :page_title do %>
	Search for a fingering:
<% end %>

<% content_for :content do %>
	<canvas id="search_by_note" width="500" height="200">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="http://www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<br />
	<br />

	<%= form_tag({:action => 'search_results', :controller => "fingerings"}, {:method => "post", :id => "form", :style => "display:inline;"}) do %>
		<%= hidden_field "fingering", "note_tone" %>
		
		<p>Search for Fingerings of Type: <%= select 'fingering', 'keytype', [['Standard/Alternate', 'standard/alternate'], ['Standard Only', 'standard'], ['Alternate Only', 'alternate']] %></p>

		<%= submit_tag "Search", :id => "submit", :onclick => "fingering_note_tone.value = fingerings_canvas.ToString();" %>
	<% end %>
	
	<%= form_tag({:action => 'index', :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Cancel", :id => "submit" %>
	<% end %>
<% end %>
