<% content_for :head do %>
	<title>BFF::Fingering ID #<%= @fingering.id %></title>
	<%= javascript_include_tag :Fingerings %>
	<script>
		var fingering_id = "<%= @fingering_status %>";
		var note_tone_id = "<%= @note_tone %>";
	</script>
<% end %>

<% content_for :content do %>
	<% if notice != nil %>
		<font color="red"><%= notice %></font>
	<% elsif  @fingerings != nil %>
                <% if @fingerings.first.pretty_notes.include?("/")
                        name1 = @fingerings.first.pretty_notes.split("/")[0]
                        name2 = @fingerings.first.pretty_notes.split("/")[1]
                %>
                        <font color="red">Note: Showing results for <%=name1%> and the enharmonic equivalent <%=name2%>
			</font>
		<% else %>
			Fingering ID #<%= @fingerings.first.id %>
		<% end %>
	<% end %>
	
	<div data-role="collapsible-set" data-theme="" data-content-theme="">
		<div data-role="collapsible" data-collapsed="false">
			<h3>Key Fingering</h3>
			<canvas id="show_fingering" width="500" height="600">
		    	<p>Unfortunately, your browser is currently unsupported by our web 
		        	application. We are sorry for the inconvenience. Please use one of the 
		        	supported browsers listed below. </p>
		        <p>Supported browsers: 
		        	<a href="http://www.mozilla.com">Firefox</a> <br />
		        	<a href="www.google.com/chrome">Chrome</a> </p>
			</canvas>
		</div>
	
		<div data-role="collapsible" data-collapsed="true">
			<h3>Key Information</h3>
			<table>
				<tr>
					<th align="left">
						<% if current_user.isAdmin %>
							<% if @fingerings.first.approved %>
								Fingering has been approved.
							<% else %>
								Fingering has not been approved.
							<% end %>
						<% end %>					
					</th>
					
					<th></th>
				</tr>
				
				<% if current_user.isAdmin %>
					<tr>
						<td>Display Order</td>
						<td align="center"><%= @fingerings.first.admin_order %></td>
					</tr>

					<tr>
						<td>Keys String</td>
						<td align="center"><%= @fingering_status %></td>
					</tr>
					
					<tr>
						<td>Notes String</td>
						<td align="center"><%= @note_tone %></td>
					</tr>
				<% end %>
				
				<tr>
					<td>Entered on</td>
					<td align="center"><%= @fingering.created_at %></td>
				</tr>
				
				<tr>
					<td>Entered by</td>
					<td align="center"><%= @fingering.user_name %></td>
				</tr>
				
				<tr>
					<td>Fingering Type</td>
					<td align="center"><%= @fingering.keytype.titleize %></td>
				</tr>
				
				<tr>
					<td>Upvotes (Beginner|Intermediate|Advanced|Professional)</td>
					<td align="center"><%= @fingering.votes_beginner %>|<%= @fingering.votes_intermediate %>|<%= @fingering.votes_advanced %>|<%= @fingering.votes_professional %></td>
				</tr>
				
				<tr>
					<td>Downvotes (Beginner|Intermediate|Advanced|Professional)</td>
					<td align="center"><%= @fingering.dvotes_beginner %>|<%= @fingering.dvotes_intermediate %>|<%= @fingering.dvotes_advanced %>|<%= @fingering.dvotes_professional %></td>
				</tr>
				
				<tr>
					<td>Fingering Source</td>
					<td align="center"><%= @fingering.source %></td>
				</tr>
				
				<tr>
					<td>Fingering Comment</td>
					<td align="center"><%= @fingering.comments %></td>
				</tr>
				
				<tr><th></th><th></th></tr>
			</table>
		</div>
		
		<div data-role="collapsible" data-collapsed="true">
			<h3>Options</h3>

			<% if current_user.isAdmin %>
				<% if !@fingering.approved %>
					<%= form_tag({:action => "approve", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
						<% if current_user.isAdmin && @fingerings.first.fingering_status[0] == "2" %>
							<div class="split_fingering">
								<input type="checkbox" name="save_first">Save first (left) note in combination as individual alternate fingering on approval</input>
								<br>
								<input type="checkbox" name="save_second"/>Save second (right) note in combination as individual alternate fingering on approval</input>
								<br>
							</div>
						<% end %>

						<%= submit_tag "Approve", :id => "submit" %>
					<% end %>
				<% end %>

				<%= form_tag({:action => "destroy", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :delete, :id => "form", :style => "display:inline;"}) do %>
					<% if @fingering.approved %>
						<%= submit_tag "Unapprove", :id => "submit", :confirm => "This action is permanent and cannot be undone. Are you sure you want to unapprove this fingering and delete it?" %>
					<% else %>
						<%= submit_tag "Disapprove", :id => "submit", :confirm => "This action is permanent and cannot be undone. Are you sure you want to disapprove this fingering and delete it?" %>
					<% end %>
				<% end %>
			<% end %>
		
			<% if cookies[:votes] != nil %>
				<% if !cookies[:votes].include?(@fingering.id.to_s()) or !cookies[:votes_user].include?(current_user.login) %>
					<%= form_tag({:action => "like", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :style => "display:inline;"}) do %>
						<%= submit_tag "Like", :id => "submit" %>
					<% end %>
				<% end %>
			
				<% if !cookies[:votes].include?(@fingering.id.to_s()) or !cookies[:votes_user].include?(current_user.login) %>
					<%= form_tag({:action => "dislike", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :style => "display:inline;"}) do %>
						<%= submit_tag "Dislike", :id => "submit" %>
					<% end %>
				<% end %>
			<% else %>
				<%= form_tag({:action => "like", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :style => "display:inline;"}) do %>
					<%= submit_tag "Like", :id => "submit" %>
				<% end %>
			
				<%= form_tag({:action => "dislike", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :put, :style => "display:inline;"}) do %>
					<%= submit_tag "Dislike", :id => "submit" %>
				<% end %>	
			<% end %>
		
			<%= form_tag({:action => "index", :controller => "fingerings"}, {:method => :get, :style => "display:inline;"}) do %>
				<%= submit_tag "Back", :id => "submit" %>
			<% end %>
		
			<% if current_user.isAdmin or current_user.login == @fingering.user_name %>
				<%= form_tag({:action => "edit", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :get, :style => "display:inline;"}) do %>
					<%= submit_tag "Edit", :id => "submit" %>
				<% end %>
			<% end %>
			
			<% if current_user.isAdmin %>
				<%= form_tag({:action => "destroy", :controller => "fingerings", :id => @fingerings.first.id}, {:method => :delete, :style => "display:inline;"}) do %>
					<%= submit_tag "Delete", :id => "submit", :confirm => "This action is permanent and cannot be undone.  Are you sure you want to delete this fingering?" %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
