<% content_for :head do %>
	<title>BFF::Fingering ID #<%= @fingering.id %></title>
	<%= javascript_include_tag :application, :fingerings %>
	<script>
		var fingering_id = "<%= @fingering_status %>";
		var note_tone_id = "<%= @note_tone %>";
	</script>
<% end %>

<% content_for :page_title do %>
	Fingering ID #<%= @fingering.id %>
<% end %>

<% content_for :content do %>
	<canvas id="show_fingering" width="500" height="600">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="http://www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<br />
	<%= button_to 'Back', fingerings_path, :method => :get %>
	<%= button_to 'Edit', edit_fingering_path(@fingering), :method => :get %>
	<%= button_to 'Delete', @fingering, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
