<% content_for :head do %>
	<title>BFF::Fingering ID #<%= @fingering.id %></title>
	<%= javascript_include_tag :Fingerings %>
	<script>
		var fingering_id = "<%= @fingering_status %>";
		var note_tone_id = "<%= @note_tone %>";
	</script>
<% end %>

<% content_for :page_title do %>
	Fingering ID #<%= @fingering.id %>
<% end %>

<% content_for :page_subtitle do %>
	Entered on: <%= @fingering.created_at %> by <%= @fingering.user_name %>
<% end %>

<% content_for :content do %>
	<canvas id="show_fingering" width="500" height="600">
    	<p>Unfortunately, your browser is currently unsupported by our web 
        	application. We are sorry for the inconvenience. Please use one of the 
        	supported browsers listed below. </p>
        <p>Supported browsers: 
        	<a href="http://www.mozilla.com">Firefox</a> <br />
        	<a href="www.google.com/chrome">Chrome</a> </p>
	</canvas>
	<br />
	
	<%# if current_user.isAdmin? && !@fingering.approved %>
		<%= form_tag({:action => "approve", :controller => "fingerings"}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
			<% if @fingering.approved %>
				<%= submit_tag "Unapprove", :id => "submit" %>
			<% else %>
				<%= submit_tag "Approve", :id => "submit" %>
			<% end %>
		<% end %>
	<%# end %>

	<%= form_tag({:action => "like", :controller => "fingerings"}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Like", :id => "submit" %>
	<% end %>

	<%= form_tag({:action => "dislike", :controller => "fingerings"}, {:method => :put, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Dislike", :id => "submit" %>
	<% end %>

	<%= form_tag({:action => "index", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Back", :id => "submit" %>
	<% end %>

	<%= form_tag({:action => "edit", :controller => "fingerings"}, {:method => :get, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Edit", :id => "submit" %>
	<% end %>
	
	<%= form_tag({:action => "destroy", :controller => "fingerings"}, {:method => :delete, :id => "form", :style => "display:inline;"}) do %>
		<%= submit_tag "Delete", :id => "submit", :confirm => "Are you sure?" %>
	<% end %>
<% end %>
