<% if session[:user] == nil %>
<p id="notice"><%= notice%></p>
	<div class="login">
		<%= form_tag :action=> "login", :method => "post", :controller => "users", :id => "loginform" do %>
			<div>
			  	<%= text_field "user", "login", :onfocus => "defaultInput(this)", :onblur => "clearInput(this)", :class => "text_field"%>
			  	<%= password_field "user", "password", :onfocus => "defaultInput(this)", :onblur => "clearInput(this)", :class => "text_field" %>
			
				<%= submit_tag "Submit" %>				
				<br />
	    	</div>    
		<div id="subtext">
			<%= link_to 'Register', 'users/register' %> | <%= link_to 'Forgot Password', 'users/forgot_password' %>
		</div> 
	</div>
<% end %>
<% else %>
	<div class="login">
		Welcome <%= link_to User.find(session[:user]).login, 'users/show' %> <br />
		<div id="subtext">
			<%= link_to 'Logout', logout_users_path %>
		</div>
	</div>
<% end %>
