<% if params[:controller] != "users" or params[:action] != "new" %>
	<% if session[:user] == nil %>
		<%= form_tag({:action => "login", :controller => "users"}, {:method => "post", :id => "login-form", :style => "display: inline;"}) do %>			
			<% if notice != nil %>
				<font color="red"><%= notice %></font>
			<% else %>
				<font color="#bac0c9">Login</font>
			<% end %>
			<br />
		  	<%= text_field "user", "login", :placeholder => "Username" %>
		  	<br />
		  	<%= password_field "user", "password", :placeholder => "Password" %>
			<ul>
				<li><%= submit_tag "Login", :id => "submit" %></li>
			</ul>	
		<% end %>
		<ul>
			<li><%= link_to 'Register', root_url + 'users/register' %></li>
			<li><%= link_to 'Forgot Password', root_url + 'users/forgot_password' %></li>
		</ul>
	<% else %>
	<ul>
		<li><%= link_to "Welcome " + current_user.login, user_path(current_user) %></li>
		<li><%= link_to 'Logout', logout_users_path %></li>
		<% if current_user.isAdmin %>
			<li><%= link_to 'Admin Tools', root_url + 'home/admin' %></li>
		<% end %>
	</ul>
	<% end %>
<% end %>
