<% if session[:user] == nil %>
	<%= form_tag({:action => "login", :controller => "users"}, {:method => "post", :id => "login-form"}) do %>
		
		<% if notice != nil %>
			<font color="red"><%= notice %></font>
		<% else %>
			<font color="#bac0c9">Login</font>
		<% end %>
		<br />
	  	<%= text_field "user", "login", :value => "Username", 
	  		:onfocus => "if(user_login.value == \"Username\"){ user_login.value = ''; }", 
	  		:onblur  => "if(user_login.value == '') { user_login.value = \"Username\"; }" %>
	  	<br />
	  	<%= password_field "user", "password", :value => "password", 
	  		:onfocus => "if(user_password.value == \"password\"){ user_password.value = ''; }", 
	  		:onblur  => "if(user_password.value == '') { user_password.value = \"password\"; }" %>
		
		<%= submit_tag "Submit", :id => "submit" %>		
		<br />
		<%= link_to 'Register', root_url + 'users/register' %> | <%= link_to 'Forgot Password', root_url + 'users/forgot_password' %>
	<% end %>
<% else %>
	<div id="login">
		Welcome <%= link_to current_user.login, user_path(current_user) %> <br />
		<%= link_to 'Logout', logout_users_path %>
		<%= link_to 'Change Password', change_password_users_path %>
	</div>
<% end %>
