<div id="menu-holder">
	<div class="wrapper">
		<ul id="nav" class="sf-menu">
			<% if params[:controller] == "home" and params[:action] == "index" %>
				<li class="current-menu-item"><%= link_to "Home", root_url %></li>
			<% else %>
				<li><%= link_to "Home", root_url %></li>
			<% end %>
			
			<% if current_session != nil %>
				<% if params[:controller] == "fingerings" and params[:action] == "index" %>
					<li class="current-menu-item"><%= link_to "All Fingerings", root_url + "fingerings" %></li>
				<% else %>
					<li><%= link_to "All Fingerings", root_url + "fingerings" %></li>
				<% end %>
			<% end %>
			
			<% if current_session != nil %>
				<% if params[:controller] == "fingerings" and params[:action] == "new" %>
					<li class="current-menu-item"><%= link_to "Add Fingering", root_url + "fingerings/new" %></li>
				<% else %>
					<li><%= link_to "Add Fingering", root_url + "fingerings/new" %></li>
				<% end %>
			<% end %>
			
			<% if current_session != nil %>
				<% if params[:controller] == "fingerings" and params[:action] == "search" %>
					<li class="current-menu-item"><%= link_to "Search Fingerings", root_url + "fingerings/search" %></li>
				<% else %>
					<li><%= link_to "Search Fingerings", root_url + "fingerings/search" %></li>
				<% end %>
			<% end %>
			
			<% if params[:controller] == "home" and params[:action] == "contact" %>
				<li class="current-menu-item"><%= link_to "Contact", root_url + 'home/contact' %></li>
			<% else %>
				<li><%= link_to "Contact", root_url + 'home/contact' %></li>
			<% end %>
		</ul>
	</div>
</div>
