<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name='TAB' content="Fill me in!" />
		<%= stylesheet_link_tag 'application', :media => 'all' %>
		<%= stylesheet_link_tag 'mobile' if mobile_device? %>
		<%= javascript_include_tag 'jquery', 'application' %>
		<%= csrf_meta_tags %>
	    <!--[if lt IE 9]>
	  		<script src="//html5shim.googlecode.com/sin/trunk/html5.js"></script>
		<![endif]-->
		<%= yield :head %>
	</head>

	<body class="home" <%= yield :onactions %>>
		<div id="header">
			<div class="wrapper">
				<%= yield :header %>
			</div>
		</div>
		<%= render "layouts/menu" %>
		<div id="main">
			<div class="wrapper">
				<div class="clear"></div>
					<%= yield :headline %>
					<div id="content">
						<%= yield :content %>
					</div>
			</div>
		</div>
		<%= render "layouts/footer" %>
		<%= render "layouts/bottom" %>
	</body>
</html>
