<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
		<%= stylesheet_link_tag 'application', :media => 'all' %>
		<%= stylesheet_link_tag 'mobile' if mobile_device? %>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
		<%= javascript_include_tag 'jquery', 'application' %>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
		<%= csrf_meta_tags %>
		<%= yield :head %>
    </head>
    
    <body>
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h3>
                    Bassoon Fingering Finder
                </h3>
            </div>
            <div data-role="content">
            	<%= yield :content %>
            </div>
            <div data-theme="a" data-role="footer">
                <div>
                	Please click <%= link_to "here", :mobile => 0%> for full site.
                </div>
            </div>
        </div>
    </body>
</html>